@charset "UTF-8";
html{
  font-size: 16px;
}
body{
  line-height: 1.75;
  color: rgb(0, 0, 0);
}
a{
  text-decoration-line: none;
}
img{
  max-width: 100%;
}
/*header*/
.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(200, 200, 200);
  align-items: center;
}
.navigation div{
  display: flex;
  flex-direction: row;
}
.navigation div p{
  font-size: 1.25rem;
  margin-left: 10px;
}
.navigation ul{
  list-style: none;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-right: 30px;
}
.navigation div img{
  height: 50px;
  margin-left: 30px;
}
.navigation div{
  display: flex;
  align-items: center;
}
.navigation-link{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
a{
  color: black;
}
.navigation-link a{
  padding-top: 2px;
  padding-bottom: 2px;
}
/*main*/
main{
  margin-left: 20px;
}
.button{
  font-size: 1.3rem;
  background-color: rgb(0, 255, 0);
  color: #fff;
  border-radius: 5px;
}
.button:hover{
  background-color: rgb(0, 255, 128);
  color: rgb(239, 198, 255);
}
/*footer*/
footer{
  background-color: rgb(0, 80, 90);
  text-align: center;
}
footer p{
  color: rgb(255, 255, 255);
}