@charset "UTF-8";
html{
  font-size: 16px;
}
body{
  color: #0099ff;
}
a{
  text-decoration-line: none;
}
img{
  max-width: 100%;
}
/*header*/
.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
}
.navigation ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 50px;
  margin-right: 30px;
  align-items: center;
}
.navigation img{
  height: 50px;
  margin-left: 30px;
}
.navigation ul li a{
  color: #0099ff;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 200ms 0s ease;
}
.navigation ul li a:hover{
  color: #bb0066;
  border-color: #bb0066;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 200ms 0s ease;
}
.navigation ul li{
  display: flex;
  align-items: center;
  height: 40px;
}
#navlink1{
  border-width: 0px 2px 0px 0px;
  border-color: #009999;
  border-style: solid;
}
#navlink3{
  border-width: 0px 0px 0px 2px;
  border-color: #009999;
  border-style: solid;
}
/*main*/
main{
  margin-left: 20px;
}
.button{
  font-size: 1.3rem;
  background-color: rgb(0, 255, 0);
  color: #fff;
  border-radius: 5px;
}
.button:hover{
  background-color: rgb(0, 255, 128);
  color: rgb(239, 198, 255);
}
/*footer*/
footer{
  background-color: rgb(0, 80, 90);
  text-align: center;
}
footer p{
  color: rgb(255, 255, 255);
}